.navbar_main_dep {
  display: flex;
  align-items: center;
  .department {
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 1rem;
    margin: 0;
    h4.department_heading {
      padding: 1rem 1.5rem;
      display: flex;
      align-items: center;
      justify-items: center;
      margin: 0;
      span {
        &::after {
          content: "";
          border-right: 1px solid rgba(255, 255, 255, 0.15);
          position: absolute;
          height: 25px;
          margin-left: 1.5rem;
          top: 3%;
          z-index: 5;
        }
      }
    }
    :hover {
      background: #fcbe00;
      cursor: pointer;
      h4 {
        color: rgb(255, 255, 255);
      }
    }
    &.department-icon {
      font-size: 1.5rem;
    }
  }
}
