.brands {
  .brands_container {
    max-width: 1180px;
    margin: auto;
    .swiper-button-prev {
      border: none;
      padding: 1.5rem;
      background-color: #f5f5f5;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translate(0, -30%);
      --swiper-navigation-size: 20px;
      &:hover {
        background-color: #fcbe00;
      }
    }
    .swiper-button-next {
      border: none;
      padding: 1.5rem;
      background-color: #f5f5f5;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translate(0, -30%);
      --swiper-navigation-size: 20px;
      &:hover {
        background-color: #fcbe00;
      }
    }
  }
}


