.navbar_search {
  .navbar_search_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1180px;
    font-size: 1rem;
    font-weight: lighter;
    margin: auto;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    .navbar_brand {
      .navbar_side_res {
        display: none;
      }
      .responsive_cart {
        display: none;
      }
    }
    .navbar_search_input {
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      select {
        padding: 1rem;
        color: #222222;
        border: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        outline: none;
        font-family: Rubik;
        option {
          color: #222222;
        }
      }
      input {
        padding: 1rem;
        border: none;
        font-family: Rubik;
        outline: none;
        color: #4f4f4f;
        font-size: 14px;
        ::placeholder {
          color: #4f4f4f;
        }
      }
      button {
        height: 49px;
        padding: 0 0.5rem;
        height: 53px;
        background: #fcbe00;
        border: none;
        outline: none;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        .search_btn_icon {
          font-size: 1.5rem;
          fill: #fff;
        }
      }
    }
    .navbar_search_icons {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .navbar_search_icon {
        display: flex;
        align-items: center;
        margin-right: 0.7rem;
        justify-content: space-around;
        position: relative;
        .badges {
          position: absolute;
          top: -5px;
          left: 15px;
          padding: 0.2rem 0.5rem;
          border-radius: 50%;
          background-color: #fcbe00;
          font-size: 14px;
        }
        .icon {
          font-size: 2rem;
          margin-right: 0.5rem;
        }
        .navbar_search_icon_text {
          display: flex;
          flex-direction: column;
          span {
            font-size: 0.8rem;
            font-weight: 100;
            color: #25a799;
          }
          strong {
            font-size: 1rem;
            font-weight: 100;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar_search {
    .navbar_search_container {
      padding: 1rem;
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -7.5px;
      margin-left: -7.5px;
      .navbar_search_icons {
        display: none;
      }
      .navbar_brand {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navbar_side_res {
          display: block;
          .navside_menu_btn {
            background-color: transparent;
            border: none;
            outline: none;
            .menu_icon {
              font-size: 35px;
            }
          }
        }
        
        .responsive_cart {
          display: block;
          .navbar_search_icon_cart {
            position: relative;
            z-index: 1;
            .icon_bag_res {
              z-index: 1;
              font-size: 1.5rem;
            }
            .badges {
              display: block;
              position: absolute;
              background-color: #fcbe00;
              top: -25%;
              right: -30%;
              z-index: 999999999999999999999999;
              padding: .1rem .4rem;
              border-radius: 50%;
              font-size: .7rem;
            }
          }
        }
        
        .navbar_search_icon {
          position: relative;
          .badges {
            position: absolute;
            top: -20%;
            right: -20%;
            padding: 0.1rem 0.4rem;
            border-radius: 50%;
            background-color: #fcbe00;
          }
          .icon_bag {
            font-size: 35px;
          }
        }
        
      }
      .navbar_search_input {
        width: 100%;
        margin-top: 1rem;
        .navbar_search_select {
          display: none;
        }
        .navbar_search_text_input {
          width: 100%;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        .search_btn_icon_icon {
          fill: #fff;
        }
      }
    }
  }
}
