.navbar_main {
  .navbar_main_container {
    max-width: 1180px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .navbar_main {
    display: none;
  }
}
