.footer_top {
  background: rgb(47, 48, 55);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .footer_top_container {
    width: 1200px;
    padding: 3rem 1rem;
    .footer_top_row {
      display: flex;
      justify-content: space-between;
      .footer_top_item {
        width: 33%;
        h4 {
          font-size: 20px;
          font-weight: 600;
        }
        p {
          font-size: 14px;
        }
        .subscribe_with_email {
          input {
            border: none;
            outline: none;
            padding: .6rem;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            font-size: 14px;
            width: 240px;
          }
          button.subscribe_btn {
            padding: .6rem 1rem;
            background-color: #fcbe00;
            border: none;
            outline: none;
            color:rgb(47, 48, 55);
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;

          }
        }
        .social_media_icons {
          .social_icon {
            padding: 10px 11px;
            border-radius: 3px;
            margin-right: 10px;
            font-size: 18px;
          }
          .twitter {
            background-color: rgb(64,193,223);
          }
          .facebook {
            background-color: rgb(60,91,155);
          }
          .pinterest { 
            background-color: rgb(199,41,130)
          }
          .instagram {
            background: rgb(198,25,184);
          }
          .youtube {
            background-color: rgb(255,14,0);
          }
        }
        img {
          margin-right: .5rem;
        }
      }
      .footer_top_item_1 {
        padding: 0 1rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .footer_top {
    background: rgb(47, 48, 55);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .footer_top_container {
      display: none;
    }
  }
}